:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1200px;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  background: #0b1a19;
  font-family: "Exo 2", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 1vh 3vw;
  padding-bottom: 5px;
}

a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Add some space below thea */
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust the line thickness as needed */
  background-color: #98d5a3; /* Adjust the line color as needed */
  opacity: 0; /* Hide the line by default */
  transition: opacity 0.1s ease-in-out;
}

a:hover::after {
  opacity: 1; /* Show the line on hover */
  animation: blink 1s infinite; /* Apply blinking animation */
}

a::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  height: 100%;
  width: 2px; /* Adjust the line thickness as needed */
  background-color: #98d5a3; /* Adjust the line color as needed */
  opacity: 0; /* Hide the line by default */
  transition: opacity 0.1s ease-in-out;
}

a:hover::before {
  opacity: 1; /* Show the line on hover */
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

pre {
  color: #2c8c93;
  z-index: 0;
  font-size: 2vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.Nav {
  color: #d6fff6;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleSec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 95vh;
  flex-direction: column;
  opacity: 0;
  animation: fade-in-animation 3s forwards;
  color: #e2e4a6;
}
.title {
  margin-top: 2vh;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

#donutContainer {
  animation: fade-in-animation 5s forwards;
  opacity: 0;
}
.info {
  animation: fade-in-animation 10s forwards;
}

.infoBorder {
  position: relative;
}

.infoBorder::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 100%;
  height: 5px; /* Adjust the line thickness as needed */
  background-color: #98d5a3; /* Adjust the line color as needed */
  opacity: 0; /* Hide the line by default */
  transition: opacity 0.1s ease-in-out;
}

.infoBorder:hover::after {
  opacity: 1; /* Show the line on hover */
  animation: blink 1s infinite; /* Apply blinking animation */
}

.infoBorder::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 5px;
  height: 100%;
  width: 5px; /* Adjust the line thickness as needed */
  background-color: #98d5a3; /* Adjust the line color as needed */
  opacity: 0; /* Hide the line by default */
  transition: opacity 0.1s ease-in-out;
}

.infoBorder:hover::before {
  opacity: 1; /* Show the line on hover */
  animation: blink 1s infinite;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  margin: 5vh 3rem;
  font-size: 1.5rem;
  z-index: 1;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .infoContainer {
    flex-direction: column;
    border-top: solid;
    border-bottom: solid;
    padding: 2rem;
    border-width: 4px;
    border-color: #032c2f;
    font-size: 15px;
  }
}

.skillSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  animation: fade-in-animation 10s forwards;
  background-color: #0b1a19;
}
.skillIcon {
  height: 70px;
  width: 70px;
  color: #e5e7a7;
  margin: 2rem;
}
.skillTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  opacity: 0;
  animation: fade-in-animation 3s forwards;
  color: #e2e4a6;
  border-bottom: solid;
  padding: 2rem;
}

.projectInfo {
  padding: 1rem;
}

.projectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  opacity: 0;
  animation: fade-in-animation 3s forwards;
  color: #e14d0d;
  padding: 0.5rem;
  border-bottom: solid;
  margin-bottom: 1rem;
  top: 0;
}

.projectDes {
  font-size: 1.25rem;
  color: #e2e4a6;
  margin-bottom: 1rem;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0; /* Adjust the line thickness as needed */
  background-color: #98d5a3; /* Adjust the line color as needed */
  opacity: 0; /* Hide the line by default */
  transition: opacity 0.1s ease-in-out;
}

.button:hover {
  opacity: 1; /* Show the line on hover */
  animation: blink 1s infinite; /* Apply blinking animation */
}

.button::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  height: 100%;
  width: 0; /* Adjust the line thickness as needed */
  background-color: #98d5a3; /* Adjust the line color as needed */
  opacity: 0; /* Hide the line by default */
  transition: opacity 0.1s ease-in-out;
}

.button {
  border-radius: 0.5rem;
  padding: 6px;
  font-size: 1.5rem;
}

.demo {
  color: #0b1a19;
  background-color: #97d1a1;
}

.code {
  color: #0b1a19;
  background-color: #d4fcf3;
}

.webImage {
  border-radius: 0.5rem;
  border: solid;
  border-color: #e5e7a7;
}

@media (max-width: 768px) {
  .projectContainer {
    flex-direction: column;
    border-top: none;
    border-bottom: solid;
    padding: 2rem;
    border-width: 4px;
    border-color: #032c2f;
    font-size: 15px;
    margin: 2vh 3rem;
  }
}
